@model IEnumerable<SampleASPCore.Models.Rumahmakan>

@{
    ViewData["Title"] = "GetAll";
}

<h2>Daftar Rumahmakan</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaRestaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jenis.NamaJenis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaRestaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jenis.NamaJenis)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
